

@{
    ViewData["Title"] = "Home Page";
     
}

<body class="anaSayfaimg">

<div class="text-center ">
    <h1 style="font-family: 'Carter One'; font-size: 4rem;" class="display-4"> Sayfama Hoş Geldiniz </h1>
    <br />
    <br/>
    <p style="font-family: 'Carter One' ; font-size: 1.5rem;">İletişim için <a href="https://www.linkedin.com/in/zekiye-tekin-27765a202/"> Tıklayabilirsiniz</a>.</p>
</div>

</body>



