@using WebFinal.Service.ViewModel;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<body class="loginimg">



<div class="row">
    <div class="col-4 offset-4">
        <h1 style="font-size: 3rem;-webkit-text-fill-color:azure; font-family: 'Carter One';" class="display-4 text-center pb-2">@ViewData["Title"] </h1>
       @* eğer login altında çizgi oluşturmak istersem border-bottom özelliğini kullan*@

    </div>
</div>


<div class="row ">
        <div class=" loginbox col-4 ">

            <div asp-validation-summary="ModelOnly" class="text-danger small">
                @* input hataları dışındaki hataları göstermesi için yaptım.*@
            </div>

            <form method="post">
                <div class="form-group mb-3">
                    <label asp-for="UserName" style="-webkit-text-fill-color:azure; font-family: 'Carter One';" class="form-label ">Username</label>
                    <input asp-for="UserName" class="form-control framed" placeholder="johndoe" />
                    <span asp-validation-for="UserName" class="text-danger small"> </span>


                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" style="-webkit-text-fill-color:azure; font-family: 'Carter One';" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control framed" placeholder="P@ssW0rd!" />
                    <span asp-validation-for="Password" class="text-danger small "> </span>
                </div>
                <div class="form-group d-grid mb-3">
                    <button type="submit" style="font-family: 'Carter One'; background-color:#F16FFF;" class="btn btn-primary d-block framed"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</button>
                </div>
            </form>

        </div>
    </div>
    </body>



