@model WebFinal.Service.Models.GiyimDTO

@{
    ViewData["Title"] = "Edit";
}

<h1 class="col-md-4 offset-4">Giyimleri Düzenle</h1>


<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <input type="hidden" />*@
            <input asp-for="Id" type="hidden" />
            <partial name="_GiyimCE.cshtml" />
                
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Index" style=" font-family: 'Carter One'; background-color: RoyalBlue; border-radius: 8px;" class="btn btn-sm btn-primary rounded-40 raise"><i class="fas fa-fast-backward "></i> Listeye Geri Dön</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
